.glitch {
  position: relative;
  color: white;
  display: inline-block;

  &::before {
    transition: all ease 275ms;
    z-index: 1;
    position: absolute;
    content: "";
    height: calc(100% + 3px);
    width: calc(100% + 5px);
    top: -8px;
    left: -10px;
    background-color: var(--chromatic-1);
    clip-path: polygon(
      4px 4px,
      calc(100% - 4px) 1px,
      calc(100% - 1px) calc(100% - 3px),
      1px calc(100% - 4px)
    );
  }

  &::after {
    transition: all ease 275ms;
    position: absolute;
    content: "";
    height: calc(100% + 3px);
    width: calc(100% + 5px);
    top: 4px;
    left: 4px;
    background-color: var(--chromatic-2);
    clip-path: polygon(
      1px 1px,
      calc(100% - 2px) 0px,
      calc(100% - 3px) calc(100% - 2px),
      8px calc(100% - 1px)
    );
  }
}

.title {
  transition: all ease 275ms;
  position: relative;
  z-index: 2;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  background: black;
  padding-inline: 0.67rem;
  rotate: -1deg;

  @media print {
    rotate: 0deg;
  }
}
