.chip {
  // Collapsed pseudo-elements by default
  --_before-height: 100%;
  --_before-width: 100%;
  --_before-top: 0px;
  --_before-left: 0px;
  --_after-height: 100%;
  --_after-width: 100%;
  --_after-top: 0px;
  --_after-left: 0px;
  --_rotate: 0deg;

  position: relative;
  display: inline-block;
  border: 1px solid var(--chip-c2, black);
  cursor: default;

  &::before {
    --clip-tl-x: 4px;
    --clip-tl-y: 4px;
    --clip-tr-x: 4px;
    --clip-tr-y: 1px;
    --clip-br-x: 1px;
    --clip-br-y: 3px;
    --clip-bl-x: 1px;
    --clip-bl-y: 4px;

    transition: all ease 275ms;
    z-index: 1;
    position: absolute;
    content: "";
    height: var(--_before-height);
    width: var(--_before-width);
    top: var(--_before-top);
    left: var(--_before-left);
    background-color: var(--chip-c1, var(--chromatic-1));
    clip-path: polygon(
      var(--clip-tl-x) var(--clip-tl-y),
      calc(100% - var(--clip-tr-x)) var(--clip-tr-y),
      calc(100% - var(--clip-br-x)) calc(100% - var(--clip-br-y)),
      var(--clip-bl-x) calc(100% - var(--clip-bl-y))
    );
  }

  &::after {
    --clip-tl-x: 1px;
    --clip-tl-y: 1px;
    --clip-tr-x: 2px;
    --clip-tr-y: 0px;
    --clip-br-x: 3px;
    --clip-br-y: 2px;
    --clip-bl-x: 8px;
    --clip-bl-y: 1px;

    transition: all ease 275ms;
    position: absolute;
    content: "";
    height: var(--_after-height);
    width: var(--_after-width);
    top: var(--_after-top);
    left: var(--_after-left);
    background-color: var(--chip-c2, var(--chromatic-2));
    clip-path: polygon(
      var(--clip-tl-x) var(--clip-tl-y),
      calc(100% - var(--clip-tr-x)) var(--clip-tr-y),
      calc(100% - var(--clip-br-x)) calc(100% - var(--clip-br-y)),
      var(--clip-bl-x) calc(100% - var(--clip-bl-y))
    );
  }

  &:hover {
    --_before-height: calc(100% + 3px);
    --_before-width: calc(100% + 5px);
    --_before-top: -8px;
    --_before-left: -10px;
    --_after-height: calc(100% + 3px);
    --_after-width: calc(100% + 5px);
    --_after-top: 4px;
    --_after-left: 4px;
    --_rotate: -1deg;
    border-color: transparent;
  }
}

.label {
  transition: all ease 275ms;
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background: white;
  color: black;
  rotate: var(--_rotate);

  .chip:hover & {
    background: black;
    color: white;
  }
}

.chip {
  @media print {
    &::before,
    &::after {
      display: none;
    }
  }
}
